.container {
    background: url('../../public/img/bg.jpg') center center/cover no-repeat;
    height: 91.7vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
    object-fit: contain;
    overflow: hidden;
}
